@model AllTasks.Models.tasks

@{
    ViewBag.Title = "Details";
}

<h2 class="title--padd">Details</h2>

<div style="background-color: rgb(223, 242, 219);height:400px;">

    <hr />
    <dl class="dl-horizontal textspace">
        <dt class="textspace">
            @Html.DisplayNameFor(model => model.Nr)
        </dt>

        <dd class="textspace">
            @Html.DisplayFor(model => model.Nr)
        </dd>

        <dt class="textspace">
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd class="textspace">
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt class="textspace">
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd class="textspace">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Worked)
        </dt>

        <dd class="textspace">
            @Html.DisplayFor(model => model.Worked)
        </dd>

        <dt class="textspace">
            @Html.DisplayNameFor(model => model.T_L)
        </dt>

        <dd class="textspace">
            @Html.DisplayFor(model => model.T_L)
        </dd>

        <dt class="textspace">
            @Html.DisplayNameFor(model => model.Test_Date)
        </dt>

        <dd class="textspace">
            @Html.DisplayFor(model => model.Test_Date.Date)
        </dd>

        <dt class="textspace">
            @Html.DisplayNameFor(model => model.My_Time)
        </dt>

        <dd class="textspace">
            @Html.DisplayFor(model => model.My_Time)
        </dd>

        <dt class="textspace">
            @Html.DisplayNameFor(model => model.Project_Name)
        </dt>

        <dd class="textspace">
            @Html.DisplayFor(model => model.Project_Name)
        </dd>

    </dl>

    <span style="padding-left:180px;">
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn bcolorr btn-large" })
    </span>

    <span style="padding-left:15px;">
        @Html.ActionLink("Back to List", "Index", "Project", new { href = "Index/" + Model.Project_Name, @class = "btn bcolorr btn-large" })
    </span>
</div>
<style>
    .textspace {
        padding-top: 9px;
    }
    .bcolorr {
        background-color: rgb(28, 66, 92);
        color: white;
        border: 1px solid gray;
    }

    a:hover {
        background-color: white;
    }

    input:hover {
        background-color: white;
    }
</style>